---
# Authelia Users Database
# Reference: https://www.authelia.com/configuration/first-factor/file/

users:
  admin:
    displayname: "Administrator"
    password: {{ authelia_admin_password_hash | to_json }}
    email: {{ admin_email | default('admin@localhost') | to_json }}
    groups:
      - admins
